@use './styles/tokens';
@use './styles/themes';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family-base);
  background: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

h1,
h2,
h3,
p {
  margin: 0;
}
